.teacher-form {
  float: left;
  padding-top: 40px;
  min-width: 150px;
  max-width: 500px;
  width: 25%;
  clear: both;
}
.teacher-full-width {
  width: 90%;
  clear: both;
}
.teacher-information-form {
  padding-top: 40px;
  float: left;
  width: 75%;
}
