<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
               [opened]="!isSmallScreen()"
               [mode]="isSmallScreen() ? 'over' : 'side'">
    <mat-toolbar class="sidenav" color="primary">
      Informations
    </mat-toolbar>
    <mat-list role="list">
      <mat-list-item role="listitem">Disponibilté</mat-list-item>
      <mat-list-item role="listitem">Epreuves</mat-list-item>
    </mat-list>

  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>

