<!--<mat-spinner></mat-spinner> for imprime pdf-->
<div class="button-row" style="margin-bottom: 2%">

  <button mat-raised-button (click)="processUpdatingTests()"
          [disabled]="updatedTests.length === 0">VALIDER</button>
  <button mat-raised-button color="primary"
          (click)="executePermute()" [disabled]="(selectionTests.length) !== 2">
    PERMUTER
  </button>
  <div *ngIf="selectionTests.length !== 1" matTooltip="Veuillez séléctionner une épreuve" style="display: inline-block">
    <button mat-raised-button color="accent"
            [disabled]="selectionTests.length !== 1">SURVEILLANTS</button>
  </div>
  <button *ngIf="selectionTests.length === 1" mat-raised-button color="accent"
          (click)="openUpdateSupervisorDialog()"
          [disabled]="selectionTests.length !== 1">SURVEILLANTS</button>
  <button mat-raised-button [disabled]="selectionTests.length <= 0" (click)="printPDFProcess()">
    <mat-icon>print</mat-icon>
    Imprimer
  </button>

  <button mat-button [matMenuTriggerFor]="menu">Chercher Epreuve</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="allTests()">toutes</button>
    <button mat-menu-item (click)="testWithoutSupervisor()">sans surveillance</button>
    <button mat-menu-item (click)="testWithoutLocal()">sans salles</button>
    <button mat-menu-item (click)="testWithoutSupAndLocal()">sans salles et sans surveillances</button>
  </mat-menu>
</div>
<mat-progress-bar *ngIf="!tests" mode="indeterminate"></mat-progress-bar>

<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Chercher Par epreuve, groupe et date">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell style="overflow: visible;" *matCellDef="let test">
        <mat-checkbox #SelectedTest (click)="$event.stopPropagation()"
                      (change)="$event ? pushSelectedTest(test, $event) : null"
                      [checked]="selection.isSelected(test)"> </mat-checkbox>
      </mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="tests.creneau.date">
      <mat-header-cell
        *matHeaderCellDef class="header-mat-table"
        [style.color]="sortBy === 'creneau' ? 'red' : null"
        (click)="test('creneau')">
        <strong>DATE</strong>
      </mat-header-cell>
      <mat-cell *matCellDef="let test"> {{test.creneau.date | date: 'EEEE'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tests.creneau.seance.heureDebut">
      <mat-header-cell *matHeaderCellDef> <strong>HEURE DEBUT</strong> </mat-header-cell>
      <mat-cell *matCellDef="let test"> {{test.creneau.seance.heureDebut}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="tests.nom">
      <mat-header-cell *matHeaderCellDef> <strong>EPREUVE</strong> </mat-header-cell>
      <mat-cell *matCellDef="let test"> {{test.nom}} </mat-cell>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="tests.duree">
      <mat-header-cell *matHeaderCellDef> <strong>DUREE</strong> </mat-header-cell>
      <mat-cell *matCellDef="let test"> {{test.duree}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tests.groupe.nom">
      <mat-header-cell *matHeaderCellDef
                       class="header-mat-table"
                       [style.color]="sortBy === 'groupe' ? 'red' : null"
                       (click)="test('groupe')"> <strong>GROUPE</strong> </mat-header-cell>
      <mat-cell *matCellDef="let test"> {{test.groupe.nom}} </mat-cell>
    </ng-container>
    &nbsp;
    <ng-container matColumnDef="tests.groupe.capacite">
      <mat-header-cell *matHeaderCellDef> <strong>NOMBRE</strong> </mat-header-cell>
      <mat-cell *matCellDef="let test"> &nbsp; {{test.groupe.capacite}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tests.local.nom">
      <mat-header-cell *matHeaderCellDef> <strong>LOCALE</strong> </mat-header-cell>
      <mat-cell *matCellDef="let test">
      <mat-form-field style="width: 75%">
        <input type="text" (click)="getAvailableLocaux(test)" aria-label="Number"
               matInput [matAutocomplete]="auto" [value]="test.local?.nom">
        <i *ngIf="newLocalIsSelected" class="material-icons clear"
           style="font-size: 12px" matSuffix aria-label="Clear" (click)="clearInput()">clear</i>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let local of availableLocaux" (onSelectionChange)="localSelection(test, local)">
            {{ local.nom }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tests.local.capacite">
      <mat-header-cell *matHeaderCellDef> <strong>CAPACITE</strong> </mat-header-cell>
      <mat-cell *matCellDef="let test"> {{test.local?.capacite}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tests.local.etage">
      <mat-header-cell *matHeaderCellDef> <strong>ETAGE</strong> </mat-header-cell>
      <mat-cell *matCellDef="let test"> {{test.local?.etage}} </mat-cell>
    </ng-container>
    <!--<button mat-button color="accent" [disabled]="enablePermute(test)" (click)="executePermute()">Permuter</button>-->




    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>

